:root {
  --veryDarkDesaturatedBlue: #1d1e35;
  --softRed: #f47c57;
  --softViolet: #af67e9;
  --softBlue: #6565e7;
  --veryDarkGrayishBlue: #4a4b5e;
  --darkGrayishBlue: #787887;
  --lightGrayishBlue: #e7e7e9;
}
