@use 'function' as *;
@use 'breakpoint' as *;

.overlay-wrapper {
  position: relative;
  .box-img {
    display: none;
    position: absolute;
    @include breakpoint-up(large) {
      display: block;
      top: rem(206);
      left: rem(-93);
      z-index: 1;
    }
  }
}

.faq {
  width: rem(327);
  background: #fff;
  border-radius: rem(23);
  @include breakpoint-up(large) {
    display: grid;
    width: rem(920);
    grid-template-columns: 1fr rem(445);
  }

  &__left-col {
    position: relative;
    @include breakpoint-up(large) {
      overflow: hidden;
    }

    //bg-pattern-img
    &::before {
      content: '';
      position: absolute;
      width: rem(240);
      height: rem(145);
      top: rem(-24);
      left: 50%;
      transform: translateX(-50%);
      background: url(/images/bg-pattern-mobile.svg) no-repeat center;
      transition: 0.5s;
      @include breakpoint-up(large) {
        width: rem(966);
        height: rem(945);
        top: rem(-293);
        right: rem(87);
        left: auto;
        transform: translateX(0);
        background: url(/images/bg-pattern-desktop.svg) no-repeat center;
      }
    }
    //illustration-woman-img
    &::after {
      content: '';
      position: absolute;
      width: rem(240);
      height: rem(192);
      top: rem(-115);
      left: 50%;
      transform: translateX(-50%);
      background: url(/images/illustration-woman-online-mobile.svg) no-repeat center;
      transition: 0.5s;
      @include breakpoint-up(large) {
        width: rem(472);
        height: rem(359);
        top: rem(70);
        right: rem(87);
        left: auto;
        transform: translateX(0);
        background: url(/images/illustration-woman-online-desktop.svg) no-repeat center;
      }
    }
  }

  &__right-col {
    padding: rem(132) rem(24) rem(48) rem(24);
    @include breakpoint-up(large) {
      padding: rem(65) rem(95) rem(83) 0;
    }
  }

  h1 {
    text-align: center;
    font-size: rem(32);
    line-height: rem(32.19);
    margin-bottom: rem(38);
    @include breakpoint-up(large) {
      margin-bottom: rem(43);
      text-align: left;
    }
  }

  label {
    display: block;
    cursor: pointer;
    border-bottom: 1px var(--lightGrayishBlue) solid;
    &:not(:last-child) {
      margin-bottom: rem(17);
    }
  }

  &__q {
    line-height: rem(13.08);
    font-size: clamp(0.8125rem, 0.7656rem + 0.2083vw, 0.875rem);
    color: var(--veryDarkGrayishBlue);
    position: relative;
    margin-bottom: 18px;
    &:hover {
      color: var(--softRed);
    }
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 7px;
      top: rem(5.8);
      right: 0;
      background: url('/images/icon-arrow-down.svg') no-repeat center;
      transition: 0.3s;
      @include breakpoint-up(large) {
        top: rem(6.8);
        right: rem(16);
      }
    }
  }

  &__a {
    font-size: rem(12);
    color: var(--darkGrayishBlue);
    padding-right: rem(10);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
}

input {
  &[type='checkbox'] {
    display: none;
  }
  &:checked ~ div.faq__a {
    height: rem(52);
  }
  &:checked ~ div.faq__q {
    font-weight: 700;
  }
  &:checked ~ div.faq__q::after {
    transform: rotate(180deg);
  }
}
